<div class="team-members">
  <header class="team-members__header">
    <h2 class="team-members__heading">{heading}</h2>
    <div class="team-members__body">
      {body}
    </div>
  </header>
  <ul class="team-members__list">
    {team}
    <li class="team-members__member">
      <img class="team-members__avatar" src="{team:avatar}" />
      <h3 class="team-members__title">{team:title}</h3>
      <div class="team-members__body">
        {team:body}
      </div>
    </li>
    {/team}
  </ul>
</div>
