.team-members {
  padding: 30px;
  text-align: center;
}

.team-members__header {
  margin: 0 auto;
  max-width: 800px;
}

.team-members__heading {
  font-size: 30px;
  text-transform: uppercase;
}

.team-members__list {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
  padding: 0;
}

.team-members__member {
  display: block;
  padding: 20px;
  width: 100%;

  @media (min-width: 500px) {
    width: 50%;
  }

  @media (min-width: 769px) {
    width: 25%;
  }
}

.team-members__avatar {
  border-radius: 100%;
}
